[submodule "global_imports"]
	path = global_imports
	url = git@github.com:bboytian/solar_ema_project.global_imports.git
[submodule "smmpl_opcodes"]
	path = smmpl_opcodes
	url = git@github.com:bboytian/smmpl_opcodes.git
[submodule "solaris_opcodes"]
	path = solaris_opcodes
	url = git@github.com:bboytian/solaris_opcodes.git
